# **Customer Behaviour Analysis Project**
## Python , Pandas, SQL

# Step 1: Read the .csv file using pandas

In [2]:
# import modules

import pandas as pd   
import numpy as np
from mysql.connector import connect as ct

In [4]:

# File paths

customer_journey =   'customer_journey.csv'
customer_reviews =   'customer_reviews.csv'
customers =   'customers.csv'
engagement_data =   'engagement_data.csv'
geography =   'geography.csv'
products =   'products.csv'

# Load  each dataset

df_customer_journey = pd.read_csv(customer_journey)
df_customer_reviews = pd.read_csv(customer_reviews)
df_customers = pd.read_csv(customers)
df_engagement_data = pd.read_csv(engagement_data)
df_geography = pd.read_csv(geography)
df_products= pd.read_csv(products)

### 1. Check data_overview, column names and data types

In [5]:
print(df_customer_journey.head())

   JourneyID  CustomerID  ProductID   VisitDate        Stage    Action  \
0          1          64         18  2024-06-10     Checkout  Drop-off
1          2          94         11  2025-07-09     Checkout  Drop-off
2          3          34          8  2024-06-14  ProductPage      View
3          4          33         18  2025-05-28     Checkout  Drop-off
4          5          91         10  2023-02-11     Homepage     Click

   Duration
0       NaN
1       NaN
2     235.0
3       NaN
4     156.0

In [6]:
print(df_customer_reviews.head())

   ReviewID  CustomerID  ProductID  ReviewDate  Rating  \
0         1          77         18  2023-12-23       3
1         2          80         19  2024-12-25       5
2         3          50         13  2025-01-26       4
3         4          78         15  2025-04-21       3
4         5          64          2  2023-07-16       3

                                 ReviewText
0   Average  experience,  nothing  special.
1            The  quality  is    top-notch.
2   Five  stars  for  the  quick  delivery.
3  Good  quality,  but  could  be  cheaper.
4   Average  experience,  nothing  special.

In [21]:
print(df_customers.head())

   CustomerID      CustomerName                         Email  Gender  Age  \
0           1     Emma Anderson     emma.anderson@example.com    Male   50
1           2       Sarah Brown       sarah.brown@example.com  Female   37
2           3  Robert Hernandez  robert.hernandez@example.com  Female   26
3           4      David Garcia      david.garcia@example.com    Male   25
4           5       Emma Miller       emma.miller@example.com  Female   41

   GeographyID
0            2
1            4
2            6
3            8
4            4

In [22]:
print(df_engagement_data.head())

   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID ViewsClicksCombined
0          9            1883-671
1         20            5280-532
2         14            1905-204
3         20            2766-257
4         15           5116-1524

In [23]:
print(df_geography.head())

   GeographyID  Country    City
0            1       UK  London
1            2  Germany  Berlin
2            3   France   Paris
3            4    Spain  Madrid
4            5    Italy    Rome

In [24]:
print(df_products.head())

   ProductID      ProductName Category   Price
0          1    Running Shoes   Sports  223.75
1          2  Fitness Tracker   Sports  196.68
2          3         Yoga Mat   Sports  485.32
3          4        Dumbbells   Sports   26.21
4          5      Soccer Ball   Sports   41.26

### 2. Check for null values

In [7]:
print(df_customer_journey.isnull().sum())

JourneyID      0
CustomerID     0
ProductID      0
VisitDate      0
Stage          0
Action         0
Duration      14
dtype: int64

In [37]:
print(df_customer_reviews.isnull().sum())

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

In [26]:
print(df_customers.isnull().sum())

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

In [38]:
print(df_engagement_data.isnull().sum())

EngagementID           0
ContentID              0
ContentType            0
Likes                  0
EngagementDate         0
CampaignID             0
ProductID              0
ViewsClicksCombined    0
dtype: int64

In [39]:
print(df_geography.isnull().sum())

GeographyID    0
Country        0
City           0
dtype: int64

In [29]:
print(df_products.isnull().sum())

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

### 3 Clean the null values in "customer_journey::dauration" column

In [8]:
df_customer_journey = df_customer_journey.fillna(df_customer_journey.mean(numeric_only=True))
# df_customer_journey = df_customer_journey["Duration"].fillna(0)

In [9]:
df_customer_journey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JourneyID   100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   VisitDate   100 non-null    object
 4   Stage       100 non-null    object
 5   Action      100 non-null    object
 6   Duration    100 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.6+ KB

### 4 Split the 'views-clicks' column in df_engagement data

In [10]:

views_clicks = df_engagement_data["ViewsClicksCombined"].str.split("-", expand=True)
df_engagement_data["Views"] = views_clicks[0].astype(int)
df_engagement_data["Clicks"] = views_clicks[1].astype(int)
df_engagement_data.drop(columns=["ViewsClicksCombined"], inplace=True)

In [95]:
df_engagement_data.head()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CampaignID,ProductID,Views,Clicks
0,1,39,Blog,190,2023-08-30,1,9,1883,671
1,2,48,Blog,114,2023-03-28,18,20,5280,532
2,3,16,video,32,2023-12-08,7,14,1905,204
3,4,43,Video,17,2025-01-21,19,20,2766,257
4,5,16,newsletter,306,2024-02-21,6,15,5116,1524

# Step 2. Using MySQL Connector

In [11]:
conn = ct(

    host="localhost",
    user="root",
    password="Click"
)

cursor = conn.cursor()
print("MySQL connection established!")

MySQL connection established!

## Step 2. Create DB "customer_behaviour"

In [ ]:
cursor.execute("create DATABASE IF NOT EXISTS customer_behaviour_db")
print("MySQL database 'customer_behaviour_db' created successfully!")

MySQL database 'weather_db' created successfully!

In [13]:
cursor.execute(" USE customer_behaviour_db")
print("MySQL database 'customer_behaviour_db' is being used!")

MySQL database 'customer_behaviour_db' is being used!

## 23 Create a Table in MySQL

In [66]:
# Geography Table

cursor.execute("""
    create table if not exists geography (
        GeographyID INT PRIMARY KEY,
        Country VARCHAR(50),
        City VARCHAR(50)               
    )
""")

conn.commit()
print("Table 'geography' created successfully in MySQL!")

Table 'geography' created successfully in MySQL!

In [67]:
# Products Table

cursor.execute("""
    create table if not exists products (
        ProductID INT auto_increment primary key,
        ProductName varchar(50),
        Category varchar(50),
        Price float
        )
""")

conn.commit()
print("Table 'products' created successfully in MySQL!")

Table 'products' created successfully in MySQL!

In [68]:
# Customers Table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (
        CustomerID INT auto_increment PRIMARY KEY,
        CustomerName VARCHAR(255),
        Email VARCHAR(255),
        Gender VARCHAR(10),
        Age INT,
        GeographyID INT,
        foreign key (GeographyID) references geography(GeographyID)               
    )
""")

conn.commit()

print("Table 'customers' created successfully in MySQL!")

Table 'customers' created successfully in MySQL!

In [ ]:
# cursor.execute('drop table customer_journey ')
# conn.commit()

In [131]:
# Customer Journey Table

cursor.execute("""
    CREATE TABLE IF NOT EXISTS customer_journey (
        JourneyID INT PRIMARY KEY,
        CustomerID INT,
        ProductID INT,
        VisitDate DATE,
        Stage VARCHAR(50),
        Action VARCHAR(50),
        Duration float,
        FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
    )
""")

conn.commit()
print("Table 'customer_journey' created successfully in MySQL!")

Table 'customer_journey' created successfully in MySQL!

In [70]:
# Customer Reviews Table

cursor.execute("""
    CREATE TABLE IF NOT EXISTS customer_reviews (
        ReviewID INT PRIMARY KEY,
        CustomerID INT,
        ProductID INT,
        ReviewDate DATE,
        Rating INT,
        ReviewText TEXT,
        Sentiment VARCHAR(20),
        FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
    )
""")

conn.commit()
print("Table 'customer_reviews' created successfully in MySQL!")

Table 'customer_reviews' created successfully in MySQL!

In [ ]:
# Engagement Data Table

cursor.execute("""
    CREATE TABLE IF NOT EXISTS engagement_data (
        EngagementID INT PRIMARY KEY,
        ContentID INT,
        ContentType VARCHAR(50),
        Likes INT,
        EngagementDate DATE,
        CampaignID INT,
        ProductID INT,
        Views INT,
        Clicks INT,
		FOREIGN KEY (ProductID) REFERENCES products(ProductID)
    )
""")

## Step 3: Inserting Data into the Tables
Now, we'll insert data from the Pandas DataFrame into the SQL table using to_list().

In [73]:
data_list = df_geography.values.tolist()
query = """
    INSERT INTO geography (GeographyID,	Country, City)
    VALUES (%s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [74]:
data_list = df_products.values.tolist()
query = """
    INSERT INTO products (ProductID, ProductName, Category, Price)
    VALUES (%s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [75]:
data_list = df_customers.values.tolist()
query = """
    INSERT INTO customers (CustomerID, CustomerName, Email, Gender, Age, GeographyID)
    VALUES (%s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [98]:
print(df_customer_journey.head())

   JourneyID  CustomerID  ProductID   VisitDate        Stage    Action  \
0          1          64         18  2024-06-10     Checkout  Drop-off
1          2          94         11  2025-07-09     Checkout  Drop-off
2          3          34          8  2024-06-14  ProductPage      View
3          4          33         18  2025-05-28     Checkout  Drop-off
4          5          91         10  2023-02-11     Homepage     Click

   Duration
0       NaN
1       NaN
2     235.0
3       NaN
4     156.0

In [136]:
data_list = df_customer_journey.values.tolist()
query = """
    INSERT INTO customer_journey (JourneyID, CustomerID, ProductID, VisitDate, Stage, Action, Duration)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [122]:
data_list = df_customer_reviews.values.tolist()
query = """
    INSERT INTO customer_reviews (ReviewID, CustomerID, ProductID, ReviewDate, Rating, ReviewText)
    VALUES (%s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [101]:
data_list = df_engagement_data.values.tolist()
query = """
    INSERT INTO engagement_data (EngagementID, ContentID, ContentType, Likes, EngagementDate, CampaignID, ProductID ,Views, Clicks)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
conn.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

# Step 3: Running SQL Queries
Now, we will execute five SQL queries to analyze the customer behaviour

### count drop-offs at different stages

In [24]:
cursor = conn.cursor(buffered=True)   #ensures that all query results are automatically fetched, preventing the error

In [ ]:
# The biggest bottlenecks happen where customers drop off       


cursor.execute("""
        SELECT Stage, COUNT(*) AS DropOffs
        FROM customer_journey
        WHERE Action = 'Drop-off'
        GROUP BY Stage
        ORDER BY DropOffs DESC;
        """)

results = cursor.fetchall()  # Ensure results are read

print("Stage | Drop-offs")
print("-----------------")
for row in results:
    print(f"{row[0]} | {row[1]}")

Stage | Drop-offs
-----------------
Checkout | 14

In [26]:


print(results)

[('Checkout', 14)]

In [137]:
conn.commit()
cursor.close()
conn.close()